@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-p{
  max-Width: 90%;
  text-align: left;
  padding-left: 5%;
}

.max-width{
  max-width: 900px;
  margin: auto;
}

.video-background{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* calendar component */

.calendar-container{
  max-width: 900px;
  border: 1px solid #E2E8F0;
  /* #E2E8F0 */
  border-radius: 11px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.month{
  font-weight: bold;
}

.day-name-container{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  border-top: 1px solid #E2E8F0;
  align-content: center;
}

.day-name{
  height: 45px;
  /* border: 1px solid red; */
  width: 25%;
  padding-top: 10px;
}

/* calendar day */

.day{
  width: 14.28%;
  border: .5px solid #E2E8F0;
  height: 121px;
  margin: 0;
}

.day-number{
  text-align: right;
  padding-right: 10%;
  padding-top: 5%;
  color: #282c34;
}

.not-day{
  background: repeating-linear-gradient(
  -45deg,
  #F9F9FA,
  #F9F9FA 10px,
  #fff 10px,
  #fff 20px
  );
}

.days-section{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  /* height: 460px; */
  border-radius: 11px;

}

/* zen card */

.zen-container{
  position: relative;
  max-width: 900px;
  /* border: 1px solid red; */
  height: 600px;
}

.zen-quote{
  box-sizing: border-box;
  position: absolute;
  top: 33%;
  left: 0;
  bottom: 33%;
  height: 180px;
  width: 250px;
  /* border: 1px solid red; */
  background-color: white;
  z-index: 1;
  font-size: 42px;
}

.quote{
  font-family: 'Roboto';
  font-weight: bold;
  text-decoration: underline #E84044;
  padding-top: 21px;
  padding-bottom: 21px;
}

.photo-text{
  position: absolute;
  top: 0;
  right: 0;
  width: 83%;
}

.zen-buttons{
  position: absolute;
  bottom: 0;
  right: 0;
}

.zen-info{
  text-align: left;
  margin-top: 20px;
  font-family: 'Roboto';
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
